<header class="cabecera">
  <div class="contenedor-header">
    <ul class="lista-enlaces-header">
      <li>
        <a href="index.html" class="enlace-header" title="Portada"
          ><img src="/src/assets/images/escudo-color.png" class="imagen-escudo" alt="Escudo de Soria"
        /></a>
      </li>
      <li><a href="presentacion.html" class="enlace-header">Presentación</a></li>
      <li><a href="categorias.html" class="enlace-header">Categorías</a></li>
      <li><a href="enlaces.html" class="enlace-header">Enlaces</a></li>
    </ul>
  </div>
</header>
